<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Storefront API samples</title>
</head>
<body>
    <p>
        These samples all refer to <a href="https://shopify.dev/docs/storefront-api" target="_blank" rel="noopener noreferrer">the offcial Storefront API doc.</a> 
        with each merchant's private app GraphQL calls.
    </p>
    <ul>
        <li>
          <p><a href="/one_pager?handle=YOUR_PRODUCT_HANDLE">/one_pager?handle=YOUR_PRODUCT_HANDLE</a></p>
          <p>One pager checkout by custom UI. The product handle is: "XXX" of https://YOUR_MYSHOPIFY_DOMAIN/products/XXX</p>
        </li>
    </ul>

</body>
</html>